body {
    background-color: black;  
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 0;  
    margin: 0;  
}

/* Estilo específico para el navbar */
#header-nav {
    display: flex;
    background: linear-gradient(rgb(211, 17, 17), black); 
    justify-content: space-between;
    width: 100%;  
    height: 100px;  
    padding: 0;  
    margin: 0;  
    box-sizing: border-box;  
}


#header-nav img {
    width: 70px;
}

/* Estilo para los elementos de la lista dentro del navbar */
#header-nav .navbar-list li a {
    text-decoration: none; 
    color: rgb(234, 222, 222); 
    font-family: 'Playfair Display', serif;
    font-size: 15px;
}

/* El navbar-list es un contenedor que también tiene un 92% de ancho */
#header-nav .navbar-list {
    width: 92%;  
    align-items: center;
    justify-content: space-around;
    display: flex;  
}


#header-nav ul {
    display: flex;
    list-style: none;
    margin: 0;  /* Elimina márgenes predeterminados */
    padding: 0;  /* Elimina padding predeterminado */
}

/* Enlaces dentro de navbar */
.navbar-list li a {
    text-decoration: none;
    color: rgb(195, 194, 194);
    display: inline-block;
}

/* Efecto de hover en los enlaces */
.navbar-list li a:hover {
    color: rgb(255, 255, 255);
    transform: scale(1.1, 1.1);
    transition: transform 0.2s ease-in, color 0.2s ease-in;
}

/* Estilo del encabezado principal (h1) */
h1 {
    color: red;
    font-size: 3em;
}

.album {
    margin: 30px auto;
    padding: 20px;
    background-color: #222;
    border-radius: 10px;
    box-shadow: 0px 0px 10px red;
    width: 80%;
}

h2 {
    color: red;
    font-size: 2em;
    border-bottom: 2px solid red;
    padding-bottom: 10px;
}

.songs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
}

.song {
    width: 200px;
    text-align: center;
    position: relative;
}

.song-img {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}

.song-img:hover {
    transform: scale(1.1);
}

.panel {
    display: none;
    background-color: red;
    color: black;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    box-shadow: 0px 0px 10px black;
    z-index: 10;
}
.song-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}


